﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="popupprintgantt.aspx.vb" Inherits="EXCELLENT.popupprintgantt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>    
   <script src="scripts/jsgantt.js" type="text/javascript"></script>
   <%
      Response.ContentType = "application/ms-excel"
      Response.AddHeader("content-disposition", "attachment;filename=SHEIndex.xls")
    %>
</head>
<body>
    <form id="form1" runat="server">
    ted
    <div id="result">
    
    </div>
    </form>
    <script type="text/javascript">
       var g = new JSGantt.GanttChart('g', document.getElementById('ctl00_ContentPlaceHolder1_result'), 'day');
       g.setShowRes(1); // Show/Hide Responsible (0/1)
       g.setShowDur(0); // Show/Hide Duration (0/1)
       g.setShowComp(0); // Show/Hide % Complete(0/1)
       g.setCaptionType('Resource');  // Set to Show Caption
       var pw = window.opener;
       var inputFrm = pw.document.forms['aspnetForm'];
       document.getElementById("result").innerHTML = inputFrm.elements['ctl00_ContentPlaceHolder1_myhtml'].value;
    </script>
</body>
</html>
