﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="popupgantt.aspx.vb" Inherits="EXCELLENT.popupgantt" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title></title>
   <style type="text/css">           
        table.bsc {
	      border-width: 1px;
	      border-spacing: 0px;
	      border-color: #C0C0C0;
	      border-collapse: collapse;
	      background-color: white;
         }
      table.bsc thead {
	      border-width: 1px;
	      padding: 1px;	      
	      border-color: #C0C0C0;
      }
      table.bsc td {
	      border-width: 1px;
	      padding: 1px;	      
	      border-color: #C0C0C0;
	      font-size:12px;
      }
      .headbsctable{
         font-size:12px;
         background-color:#449A50;
         color:white;
         font-weight:bold;
      }
       
    </style>
</head>
<body>
   <form id="form1" runat="server">
   <div id="myresult" runat="server">
   </div>
   </form>
</body>
</html>
