﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="popuptrans.aspx.vb" Inherits="EXCELLENT.popuptrans" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <style type="text/css">
            .newStyle1
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-small;
            margin-right: 0px;
        }
         .modalBackground
        {
            background-color: Maroon ;
            font: small Arial, Helvetica, sans-serif;
        }
        .groupheader  
        {
            background: white; 
            color: red;
             padding: 0px; 
             font-weight: bold;
             
             margin:0;
             min-height:100%;
             
             }    

        .style1
        {            
            font: small Arial, Helvetica, sans-serif;
        }
          td.style5
        {
          background-color:#00CC00;
          color:#000000;
          font-weight:bold;
          font-size:16px;
        }
        .style6
        {
            width: 69px;
        }
        .style7
        {
            width: 39px;
        }
        .style8
        {
            width: 81px;
        }
        .style9
        {
            width: 42px;
        }
        .style10
        {
            width: 52px;
        }
        .style11
        {
            width: 47px;
        }
        table.bsc {
	      border-width: 1px;
	      border-spacing: 0px;
	      border-color: #C0C0C0;
	      border-collapse: collapse;
	      background-color: white;
         }
      table.bsc thead {
	      border-width: 1px;
	      padding: 1px;	      
	      border-color: #C0C0C0;
      }
      table.bsc td {
	      border-width: 1px;
	      padding: 1px;	      
	      border-color: #C0C0C0;
	      font-size:12px;
      }
      .headbsctable{
         font-size:12px;
         background-color:#449A50;
         color:white;
         font-weight:bold;
      }
       select{
         border: 1px solid #C0C0C0;
      }  
      .printe:hover
      {
         background-color:#FFFFA8;         
      }
      .printe
      {
         border: 1px solid #C0C0C0;
      }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <asp:label id="lblError" runat="Server" />
     <table width="100%">
      <tr>
      <td>
      <img src="/remo/images/logo-new.png" alt="BUMA" 
              style="padding-left: 12px; padding-top: 12px;"/>
      </td>       
      <td class="style1">
      <img align="right" src="/remo/images/Logo-Remo-(20).jpg" alt="REMO" width="187" 
              height="65" style="padding-right: 12px; padding-top: 12px;"/>
      </td>
      </tr>
      </table>
    <div id="result" runat="Server">
    </div>
    </form>
</body>
</html>
