﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/site.master" CodeBehind="stratmap.aspx.vb" Inherits="EXCELLENT.stratmap" %>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
    <title></title>
    <style type="text/css">
       ul.dropdown *.dir1 {
          padding-right: 20px;
          background-image: url("/remo/css/dropdown/themes/default/images/nav-arrow-down.png");
          background-position: 100% 50%;
          background-repeat: no-repeat;
          background-color: #FFA500;
         }
    </style> 
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div>
       <img alt="Strategy Map JRN" src="../images/stratmap.jpg" />
    </div>
</asp:Content>
