﻿/* Tabel */

.captiongrid{
   text-align:center;
   font-family:"trebuchet MS", verdana, sans-serif;
   font-size:1.2em;
   background:#00CC00;
}

.thstart {
	background:#D1FFC1;
	color: #000000;
	font-family:"trebuchet MS", verdana, sans-serif;
	font-size:0.9em;
}

.thend {
	background-color:#00CC00;
	color: #000000;
	font-family:"trebuchet MS", verdana, sans-serif;
    font-size:0.9em;
}

.tdupstart {
	background-color: #FFFFFF;
	color: #000000;
	font-family:"trebuchet MS", verdana, sans-serif;
	font-size:0.9em;
}

.tdupend {
	border-width: 1px;
	border-color: #B5B5B5;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana;
	font-size:0.9em;
}

.tdstart
{
	background-color: #FFFFFF;
	color: #000000;
	font-family: "trebuchet MS" , verdana, sans-serif;
	font-size: 0.9em;
	vertical-align: top;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C0C0C0;
}

.tdend {
	background-color: #FFFFFF;
	color: #000000;
	font-family:"trebuchet MS", verdana, sans-serif;
	font-size:0.9em;
}