/*  9 of 12 Microsoft Internet Explorer Design Templates 
/*  9 of 12 Microsoft Internet Explorer Design Templates 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 HTML TAGS
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {padding:0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
} 

html, body, form, #wrap { height: 100%;}

body > #wrap {height: auto; min-height: 100%;}
form > #wrap {height: auto; min-height: 100%;}

.text{
   color:black;
}

#main {padding-bottom: 20px;}  /* must be same height as the footer */

#footer {
	background:#373737;
	clear:both;
	bottom: 0;
	position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	clear:both;
	}
	
/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

body {
	font-family:"trebuchet MS", verdana, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	}

p, li {
	font-size:.75em;
	line-height:160%;
	}
	
a img {
	border:none;
	}

/* HEADINGS */
	
h1,h2,h3,h4,h5,h6 {
	margin:15px 0;
	font-family:"trebuchet MS", verdana, sans-serif;
	color:#e99400;
	}

.content-left h1, .content-right h1,
.content-left h2, .content-right h2,
.content-left h3, .content-right h3,
.content-left h4, .content-right h4,
.content-left h5, .content-right h5,
.content-left h6, .content-right h6 {
	color:#000;
	margin:5px 0;
	}
	
h1.first,
h2.first,
h3.first,
h4.first,
h5.first,
h6.first {
	margin-top:0;
	}
	
h1 {
	font-size:1.2em;
	}
	
h2 {
	font-size:1em;
	}
	
h3 {
	font-size:.9em;
	background:url(../../images/bg-line.png) repeat-x bottom;
	}
	
h4 {
	font-size:.8em;
	}
	
h5 {
	font-size:.8em;
	}
	
h6 {
	font-size:.8em;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 FORMS
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

fieldset {
	padding:10px 20px;
	margin:15px 0;
	position:relative;
	}

fieldset fieldset {
	margin:10px 0;
	width:90%;
	}
	
legend {
	font-weight:bold;
	font-size:1em;
	padding:10px;
	color:#000;
	margin:0 0 10px 30px;
	font-family:"trebuchet MS", verdana, sans-serif;
	}

fieldset fieldset legend {
	font-size:.8em;
	}
	
.input-box {
	display:block;
	margin-bottom:5px;
	vertical-align:top;
	padding:2px;
	color:#666666;
	font-size:.8em;
	border:1px solid #82b26e;
	background:url(../../images/bg-input.png) no-repeat;
	}
	
.input-box-slim {
	/*display:block;
	margin-bottom:1px;
	vertical-align:top;
	padding:2px;
	color:#000000;
	font-size:1em;
	border:1px solid #000000;
	background-color:white;*/
	}

label {
	font-weight:bold;
	font-size:.7em;
	font-weight:bold;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	}

.checkbox {	
	margin:12px 0;
	padding:4px 0 2px 3px;
	border:1px dotted #585858;
	width:95%;
	}
	
.checkbox input {	
	margin-right:6px;
	margin-bottom:2px;
	}

.forgot-password {
	margin:2px 0;
	font-size:.65em;
	}
	
input.button {
	color:#FFF;
	background:#317f0c url(../../images/bg-button.png) repeat-x;
	border:2px groove #FFF;
	font-size:.7em;
	font-weight:bold;
	padding:0 5px 2px 5px;
	cursor:pointer;
	}
	
input.button-big {
	padding:6px 20px;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 LINKS
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a:link {
	color:#33840c;
	text-decoration:underline;
	}

a:visited {
	color:#72840c;
	text-decoration:underline;
	}

a:hover {
	text-decoration:none;
	}

a:active {
	text-decoration:underline;
	color:#86c400;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 HEADER
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 
.header-container
{
	background-position: #00CC00;
	margin: 0;
	padding: 0 0 0 0;
	/* diganti dengan garis bukan mengisi div
	*/
	background: #00CC00;
	background: #00CC00;	
	border-bottom: 1px solid #C0C0C0;
	min-height: 0.5px;
	_height: 0.5px;
	height: 0.5px;
}

/* LOGO */

.logo {
	font-size:1.5em;
	width:60%;
	float:left;
	font-family:"trebuchet MS", verdana, sans-serif;
	padding:5px 0 10px 15px;
	letter-spacing:.2em;
	}

/* LOGO LINK */

.logo a:link,
.logo a:visited {
	text-decoration:none;
	color:#FFF;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 LOGIN
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav-login  {
	font-size:.9em;
	text-align:right;
	margin:10px 15px 3px 0;
	float:right;
	width:20%;
	}

/* LOGIN LISTS */

.nav-login ul {
	margin:0;
	padding:0;
	}

.nav-login li {
	list-style:none;
	/*padding:3px 0 3px 17px;*/
	display:inline;
	margin-left:15px;
	/*background:url(../../images/bullet.png) no-repeat 0 4px;*/
	}

.nav-login li.first {
	list-style:none;
	margin-left:0;
	}
	
/* LOGIN LINKS */

.nav-login a:link,
.nav-login a:visited{
	color:#FFF;
	text-decoration:none;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 FOOTER
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav-footer
{
	position: relative;
	text-align: center;
	clear: both;
}

.nav-footer ul{
	padding:0;
	margin:0;
	text-align:center;
	}

.nav-footer li{
	background:none;
	display:inline;
	border-right:1px dotted #686868;
	padding:0 10px;
	}

.nav-footer li.first {
	border-left:1px dotted #686868;
	}
	
.copyright {
	color:#999;
	font-size:.8em;
	clear:both;
	}

.nav-footer a:link,
.nav-footer a:visited {
	color:#CCC;
	}
		
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 POSTER
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.poster-inner {
	/*background:url(../../images/bg-poster.jpg) no-repeat left top;*/
	font-family:"trebuchet MS", verdana, sans-serif;
	min-height:28px;
	_height:28px;
	}

.poster-container h1 {
	margin:0;
	font-size:1.2em;
	color:#000;
	}

.poster-container p {
	margin:0 0 0 0;
	line-height:normal;
	font-size:1em;
	}

/* POSTER LINKS */

.poster-links {
	font-weight:bold;
	}
	
.poster-container a:link,
.poster-container a:visited {
	color:#33840c;
	}

.poster-container a:hover {
	text-decoration:none;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 BREADCRUMB
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.breadcrumb {
	min-height:1px;
	_height:1px;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	font-size:.7em;
	border-bottom:1px dotted #686868;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 PRIMARY LAYOUT STYLES 
	 	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  
.content-container
{
	position: relative;
	_height: 1px;
	min-height: 1px;
}

.content-container-inner
{
	_height: 1px;
	min-height: 1px;
	padding: 0 15px 0 15px;
	position: relative;
}
	
.content-main {
	padding:15px 3% 20px 12%;
	position:relative;
	min-height:1px;
	_height:1px;
	float:left;
	width:96%;
	}

.content-left {
	padding:20px 10px;
	float:left;
	width:180px;
	margin-top:-1px;
	position:relative;
	margin-left:-100%;
	right:200px;
	_left:200px;
	border-top:1px dotted #797979;
	}

.content-right {
	padding:0px 0px 20px 10px;
	float:right;
	width:350px;
	position:relative;
	margin-right:5px;
	}

.ads {
	text-align:center;
	margin:20px 0;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 SIDE BUCKET
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.side-bucket {
	margin-bottom:20px;
	line-height:normal;
	}

/* SIDE BUCKET LISTS */

.side-bucket ul {
	margin:0;
	padding:0;
	_height:1px;
	}

.side-bucket li {
	list-style:none;
	border-bottom:1px dotted #7a7a7a;
	background-position:0 4px;
	}

.side-bucket li.first {
	border-top:1px dotted #7a7a7a;
	}
	
/* SIDE BUCKET LINKS */

.side-bucket a:link,
.side-bucket a:visited {
	text-decoration:none;
	display:block;
	_display:inline;
	}
	
.side-bucket a:hover {
	text-decoration:underline;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 PHOTOS & CAPTIONS
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.photo-container {
	padding:10px;
	border:1px dotted #7a7a7a;
	}

.photo-container img {
	display:block;
	border:1px solid #666;
	}
	
.photo-caption {
	font-size:.7em;
	padding:10px 10px 0 10px;
	text-align:center;
	color:#999;
	font-style:italic
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 THREE-COLUMN SECTION
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.three-column-container {
	margin:10px 0px;
	}

.three-column-left,
.three-column-right,
.three-column-middle {
	float:left;
	width:30%;
	margin-right:5%;
	}

.three-column-right {
	margin-right:0;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 DATA TABLES
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.data-table {
	background-color:#ffffff;
	font-size:0.9em;
	/*border-top:1px dotted #7a7a7a;
	border-left:1px dotted #7a7a7a;*/
	}

table.data-table caption{
   font-size:1.2em;
	background:#0066FF;
	padding:2px;
	text-align:right;
	font-weight:bold;
	font-family:"trebuchet MS", verdana, sans-serif;
	border:1px solid #7a7a7a;
	color:#000000;
	}

table.data-table td,
table.data-table th{
	padding:1px;
	/*border-right:1px dotted #7a7a7a;*/
	vertical-align:middle;
    text-align: left;
}

.required
{
   background-image:url(../images/required_star.png);
   background-position:top right;
   background-repeat:no-repeat;
   padding-right:10px;
}	

table.data-table th{
	text-align:center;
	font-family:"trebuchet MS", verdana, sans-serif;
	background:#D1FFC1;
	font-weight:bold;
	}
	
table.data-table-inside th{
	text-align:center;
	font-family:"trebuchet MS", verdana, sans-serif;
	background:#D1FFC1;
	font-weight:bold;
	}
	
table.data-table tr.row-alternating td{
	/*background:#e0e0e0;*/
	}

/* Accordion */
.accordionHeader
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #E7A218;
	font-family: "trebuchet MS", verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

#master_content .accordionHeader a
{
   color: #FFFFFF;
}

.accordionHeaderSelected
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #E7A218;
	font-family: "trebuchet MS", verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
    background-color: #FFDD87;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.accordionLink
{
   color:#ffffff;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 LISTS
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

li {
	list-style:none;
	/*background:url(../../images/bullet.png) no-repeat 0 5px;*/
	/*padding:3px 0 3px 17px;*/
	padding:1px 0 1px 1px;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 MISC STYLES
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.none {
	display:none;
	}

.clear {
	clear:both;
	font-size:1px;
	margin:0;
	padding:0;
	}

.align-left {
	float:left;
	margin:0 20px 15px 0;
	}

.align-right {
	float:right;
	margin:0 0 15px 20px;
	}

.align-middle {
	vertical-align:middle;
	}
	
.inline {
	display:inline;
	}

.no-margin {
	margin:0;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 MENU TABLES
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.menu-table {
	background:#FFFFFF;
	font-size:1em;margin-top:10px;margin-bottom:10px;
	}

table.menu-table td a{
   color:#0048FF;
	padding:1px 8px 1px 8px;
	border:1px dotted #000000;
	background-color:#FDA116;
	}
	
table.menu-table td a:hover{
   color:#000000;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	MENU STYLE

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#demo-container
{
	/*background-position: #0066FF;*/
	padding: 0px 15px 0 15px;
	background: #FFFFFF;
}

ul#simple-menu
{
	list-style-type:none;
	position:relative;
	font-family:"Trebuchet MS",Arial,sans-serif;
	font-size:15px;
	font-weight:bold;
	top: -30px;
	left: 400px;
	/*background: #ffa20c url(../images/tlcorner.gif) left top no-repeat;*/
}

#simple-menu a
{
color: #000;
background: #ffa20c url(left-tab.gif) left top no-repeat;
text-decoration: none;
padding-left: 10px
}


ul#simple-menu li
{
	display:block;float:left;margin:0 0 0 0px;
}

ul#simple-menu li.left
{
	margin:0;
}
/*
ul#simple-menu li a
{
	display:block;
	float:left;
	color:#fff;
	background:#008000;
	line-height:27px;
	text-decoration:none;
	padding:0 17px 0 18px;
}
*/
ul#simple-menu li a.right
{
	padding-right:0px;
}

ul#simple-menu li a:hover
{
	background:#2E4560;
}

/*--------------------------------
TEXT BOX STYLE
---------------------------------*/
.tb10 {
	border:1px solid #AFAEAF;
	padding:3px;
	background-color:Transparent;
	font-family:"trebuchet MS", verdana, sans-serif;
	font-size:12px;
}
.tb10:focus, .tb10:hover  {
	background-color:#FFFFA8;
}
.tb09 {
	border:0;
	background-color:Transparent;
	color:black;
	font-family:"trebuchet MS", verdana, sans-serif;
	font-size:12px;
}

/*--------------------

---------------------*/
table.data-table-1 {
	background:#ffffff;
	font-size:0.8em;
	}

table.data-table-1 caption{
    font-size:1.2em;
	background:#0066FF;
	padding:2px;
	text-align:center;
	font-weight:bold;
	font-family:"trebuchet MS", verdana, sans-serif;
	border:1px solid #7a7a7a;
	color:#000000;
	}

e.data-table-1 td,
table.data-table th{
	padding:1px;
	vertical-align:top;	
	}
	
table.data-table-1 th
{
    background-position: #00FFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #00FFFF;
    font-weight: bold;
}
	
table.data-table-inside th{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	background:#D1FFC1;
	font-weight:bold;
	}
	
table.data-table tr.row-alternating td{
	background:#ffffff;
	}	
	
#navigation a
{
color: #76787A;
/*background: #BEC2C4 url(../images/tlcorner.png) left top no-repeat;*/
text-decoration: none;
padding-left: 15px;
font-family:"trebuchet MS", verdana, sans-serif;
font-size:12px;
font-weight:bold;
height:25px;
}

#navigation a span
{
/*background: url(../images/trcorner.png) right top no-repeat;*/
padding-right: 15px;
}

#navigation a, #navigation a span
{
display: block;
float: left;
}

#navigation a:hover,#navigation a:focus,#navigation a:active
{
color: #000000;
background-color:#00CC00;
padding-left: 15px
}

#navigation a:hover span,#navigation a:focus span,#navigation a:active span
{
padding-right: 15px
}

#navigation ul
{
list-style: none;
padding: 0;
margin: 0
}

#navigation li
{
float: left;
margin: 0;
} 

#criteria
{
   font-size: 0.8em;
   border:dashed 1px #000000;
   width:55%;
}

#helptext {
    color:#000000;  
    text-align: left;  
    width: 350px;  
    font-family: Verdana, Arial;  
    font-size: 11px;  
    margin: 0;  
    padding: 5px;  
    position: absolute;  
    top: -1000px;  
    left: -1000px;       
    border: 1px solid #000000;  
    z-index: 100;  
    background-color: #ffffff;  
    -moz-border-radius: 3px;  
    -moz-opacity: .90;  
    opacity: .90;  
    filter: alpha(opacity=90);
    visibility: hidden;
}

#helptext_canvas  {
    position:absolute;/*must have*/
    top: -1000px;
    left: -1000px;
    z-index:10;/*must have*/
    filter:mask();/*must have*/
    width: 350px;/*must have for any big value*/
    border: 0px;
}