﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/reminder/master.Master" CodeBehind="doc_center_entry.aspx.vb" Inherits="EXCELLENT.doc_center_entry" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Document Center Entry
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">

    <script src="../Scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="../Scripts/jscal2.js" type ="text/javascript"></script>
    <script src="../Scripts/en.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/jscal2.css" />
    <link rel="stylesheet" type="text/css" href="../css/border-radius.css" />
    <link rel="stylesheet" type="text/css" href="../css/win2k/win2k.css" />
    <style type="text/css" >
        #form1
        {
            font-family:Tahoma,Arial;
        }
        #form1 h1 
        {
            color: #FFFFFF;
            font-size:x-large;
        }
        .title
        {
            color: blue;
            font-size: small;
            margin-bottom:10px;
        }
        .line
        {
            width: 100%;
            height: 20px;
            font-family:Tahoma,Arial;
            font-size:0.8em;
        }
        .general
        {
            font-size:0.8em;
            color:#33ADFF;
            font-weight:bold;
            border-style:solid;
            border-width:1px;
            border-color:#33ADFF;
            padding-left:5px;
        }
        
        .general a
        {
            text-decoration:none;
            color:#33ADFF;
        }
        
        .general a:hover
        {
            text-decoration:underline;
            color:#33ADFF;
        }
        
        .menu_list a:hover
        {
            text-decoration:underline;
            color:#33ADFF;
        }
        
        body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	color: #0000FF;
}
a:visited {
	color: #0000FF;
}
a:hover {
	color: #0000FF;
	text-decoration: none;
}
a:active {
	color: #0000FF;
	}
.basix {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.header1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
}
.lgHeader1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0066CC;
	background-color: #CEE9FF;
}
    </style>
    <script type ="text/javascript" >
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            
            //alert("keyCode for the key pressed: " + charCode + "\n");
            
            if (charCode >= 0)
                return false;
                
            if (charCode == "undefined")
                return false;

            if (charCode == 8)
                return false;
            if (charCode == 46)
                return false;                            
            //return true;
        }
        function iskeyup(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            switch (charCode) {
                case 8:
                    event.keyCode = 27;
                    //alert("backspace");
                    return false;
                    break;
                case 46:
                    //alert("delete");
                    return false;
                    break;
            }
            if (charCode == 8)
                return false;
        }
        function OpenPopupdel(key) {
            document.getElementById("ctrlToFind").value = key;
            window.open("findpic.aspx", "List", "scrollbars=yes,resizable=no,width=600,height=500");
            return false;
        }
        function OpenPopup(key) {
            document.getElementById("ctrlToFind").value = key;
            window.open("spic.aspx", "List", "scrollbars=yes,resizable=yes,width=600,height=500");
            return false;
        }
        window.onload = function() {
            var check = document.getElementById('<%=rpt.ClientID%>');
            //            check.onchange = function() {
            //                if (this.checked == true)
            //                    document.getElementById('<%=rem_days.ClientID%>').style.visibility = "visible";
            //                else
            //                    document.getElementById('<%=rem_days.ClientID%>').style.visibility = "hidden";
            //            };
            var check2 = document.getElementById('<%=chkpic1.ClientID%>');
            check2.onchange = function() {
                if (this.checked == true)
                    document.getElementById('<%=txtpic1.ClientID%>').style.visibility = "visible";
                else
                    document.getElementById('<%=txtpic1.ClientID%>').style.visibility = "hidden";
            };
            var check3 = document.getElementById('<%=chkpic2.ClientID%>');
            check3.onchange = function() {
                if (this.checked == true)
                    document.getElementById('<%=txtpic2.ClientID%>').style.visibility = "visible";
                else
                    document.getElementById('<%=txtpic2.ClientID%>').style.visibility = "hidden";
            };
            var check4 = document.getElementById('<%=chkpic3.ClientID%>');
            check4.onchange = function() {
                if (this.checked == true)
                    document.getElementById('<%=txtpic3.ClientID%>').style.visibility = "visible";
                else
                    document.getElementById('<%=txtpic3.ClientID%>').style.visibility = "hidden";
            };
            var check5 = document.getElementById('<%=chkpic4.ClientID%>');
            check5.onchange = function() {
                if (this.checked == true)
                    document.getElementById('<%=txtpic4.ClientID%>').style.visibility = "visible";
                else
                    document.getElementById('<%=txtpic4.ClientID%>').style.visibility = "hidden";
            };
            var check6 = document.getElementById('<%=chkpic5.ClientID%>');
            check6.onchange = function() {
                if (this.checked == true)
                    document.getElementById('<%=txtpic5.ClientID%>').style.visibility = "visible";
                else
                    document.getElementById('<%=txtpic5.ClientID%>').style.visibility = "hidden";
            };

            //document.getElementById('ctl00_ContentPlaceHolder1_nmdoc').value = document.getElementById('<%=temnmdoc.ClientID%>').value;
            //document.getElementById('txturl').value = document.getElementById('<%=temnmpath.ClientID%>').value;
        };

        function change() {
            if (document.getElementById('<%=txtpic1.ClientID%>').style.visibility == "hidden") {
                document.getElementById('<%=txtpic1.ClientID%>').value = "";
            }

            if (document.getElementById('<%=txtpic2.ClientID%>').style.visibility == "hidden") {
                document.getElementById('<%=txtpic2.ClientID%>').value = "";
            }

            if (document.getElementById('<%=txtpic3.ClientID%>').style.visibility == "hidden") {
                document.getElementById('<%=txtpic3.ClientID%>').value = "";
            }

            if (document.getElementById('<%=txtpic4.ClientID%>').style.visibility == "hidden") {
                document.getElementById('<%=txtpic4.ClientID%>').value = "";
            }

            if (document.getElementById('<%=txtpic5.ClientID%>').style.visibility == "hidden") {
                document.getElementById('<%=txtpic5.ClientID%>').value = "";
            }
            
            var fullPath = document.getElementById('<%= Fileupload1.ClientID %>').value;

            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                var obj1 = document.getElementById("filename");
                var obj2 = document.getElementById("AttachmentTitleTextbox");

                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                    obj2.value = filename;
                }
                //                alert(filename);
            }
        }

        function getFileExtension(filename) {
            var ext = /^.+\.([^.]+)$/.exec(filename);
            return ext == null ? "" : ext[1];
        }

//        function isNumberKey(evt) {
//            var charCode = (evt.which) ? evt.which : event.keyCode
//            if (charCode > 31 && (charCode < 48 || charCode > 57))
//                return false;

//            return true;
//        }

        function simpan() {
            var fullPath = document.getElementById('<%= Fileupload1.ClientID %>').value;

        }

        function save() {
        
            if (document.getElementById('<%=chkpic1.ClientID%>').checked == false) {
                document.getElementById('<%=txtpic1.ClientID%>').value = ""
            }

            if (document.getElementById('<%=chkpic2.ClientID%>').checked == false) {
                document.getElementById('<%=txtpic2.ClientID%>').value = ""
            }

            if (document.getElementById('<%=chkpic3.ClientID%>').checked == false) {
                document.getElementById('<%=txtpic3.ClientID%>').value = ""
            }

            if (document.getElementById('<%=chkpic4.ClientID%>').checked == false) {
                document.getElementById('<%=txtpic4.ClientID%>').value = ""
            }

            if (document.getElementById('<%=chkpic5.ClientID%>').checked == false) {
                document.getElementById('<%=txtpic5.ClientID%>').value = ""
            }
            
            var fullPath = document.getElementById("txturl").value;
            //alert(fullPath);
            if (fullPath.length == 0) {
                document.getElementById('<%= label1.ClientID %>').text = 'You have not specified a file.'
                return;
            }

//            if (fullPath) {
//                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
//                var filename = fullPath.substring(startIndex);
//                var obj1 = document.getElementById("filename");
//                var obj2 = document.getElementById("AttachmentTitleTextbox");

//                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
//                    filename = filename.substring(1);
//                    obj2.value = filename;
//                }
//                //                alert(filename);
//            }

//            var extension = getFileExtension(fullPath);

//            if (extension.toLowerCase() != 'pdf') {
//                alert("Only .pdf files allowed!");
//                return;
//            }

            var d = document;
            var torpt;
            var s = document.getElementById('<%=doctp.ClientID%>');
            var type = s.options[s.selectedIndex].value;

            var s2 = document.getElementById('<%=doctp.ClientID%>');
            var dtype = s2.options[s2.selectedIndex].value;

            //var fname = dtype + "_" + d.getElementById("subject").value + "_" + d.getElementById('<%=ddlcomp.ClientID%>').value + "_" + d.getElementById('<%=ddlsite.ClientID%>').value + "_" + d.getElementById("txtyear").value + "_" + filename;
            var fname = d.getElementById("nmdoc");
            var check = document.getElementById('<%=rpt.ClientID%>');
            if (check.checked == true) {
                torpt = 1
            }

            if (check.checked == false) {
                torpt = 0
            }

            if (d.getElementById("type").value.length == 0) {
                alert("Please Entry Document Type");
                return false;
            }

            d.getElementById('<%=tipe.ClientID%>').value = type
            d.getElementById('<%=doctype2.ClientID%>').value = dtype

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "../WS/Service.asmx/Addpermit",
                //data: "{'_type':" + JSON.stringify(type) + ",'_subject':" + JSON.stringify(document.getElementById("subject").value) + ",'_comp':" + JSON.stringify(document.getElementById('<%=ddlcomp.ClientID%>').value) + ",'_site':" + JSON.stringify(document.getElementById('<%=ddlsite.ClientID%>').value) + ",'_year':" + JSON.stringify(document.getElementById("txtyear").value) + ",'_category':" + JSON.stringify(document.getElementById("category").value) + ",'_department':" + JSON.stringify(document.getElementById("Department").value) + ",'_subdept':" + JSON.stringify(document.getElementById("subdept").value) + ",'_report':" + JSON.stringify(torpt) + ",'_dtissue':" + JSON.stringify(document.getElementById("dtissue").value) + ",'_dtexp':" + JSON.stringify(document.getElementById("dtexp").value) + ",'_url':" + JSON.stringify(fullPath) + ",'_filename':" + JSON.stringify(fname) + "}",
                data: "{'_type':" + JSON.stringify(type) + ",'_subject':" + JSON.stringify(document.getElementById("subject").value) + ",'_comp':" + JSON.stringify(document.getElementById('<%=ddlcomp.ClientID%>').value) + ",'_site':" + JSON.stringify(document.getElementById('<%=ddlsite.ClientID%>').value) + ",'_year':" + JSON.stringify("") + ",'_category':" + JSON.stringify(document.getElementById("category").value) + ",'_department':" + JSON.stringify(document.getElementById("Department").value) + ",'_subdept':" + JSON.stringify(document.getElementById("subdept").value) + ",'_remdays':" + JSON.stringify(document.getElementById('<%=rem_days.ClientID%>').value) + ",'_pic1':" + JSON.stringify(document.getElementById('<%=txtpic1.ClientID%>').value) + ",'_pic2':" + JSON.stringify(document.getElementById('<%=txtpic2.ClientID%>').value) + ",'_pic3':" + JSON.stringify(document.getElementById('<%=txtpic3.ClientID%>').value) + ",'_pic4':" + JSON.stringify(document.getElementById('<%=txtpic4.ClientID%>').value) + ",'_pic5':" + JSON.stringify(document.getElementById('<%=txtpic5.ClientID%>').value) + ",'_dtissue':" + JSON.stringify(document.getElementById("dtissue").value) + ",'_dtexp':" + JSON.stringify(document.getElementById("dtexp").value) + ",'_url':" + JSON.stringify(fullPath) + ",'_filename':" + JSON.stringify(document.getElementById("nmdoc").value) + "}",
                dataType: "json",
                success: function(res) {
                    alert("Data Saved Successfully");
                    //window.location = "doc_center_entry.aspx";
                },
                error: function(err) {
                    alert(err.toString );
                    //window.location = "entry_permit_doc.aspx";
                }
            });
        }
    </script>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="line" style="right:10px; text-align:right;">
        <a href="signout.aspx">Logout</a>
    </div>
    <div class="title">
        <strong>Menu</strong>
    </div>
    <div id="list_newest" class="general" style="width:200px; ">
        <div id="Div1"><img alt="open document" src="../images/open_doc_small.png" /> <a href="index.aspx">
            &nbsp;Home</a></div>
        <%=mnentry%>
        <%=mncontract%>
        <%=mnview%>
        <%=mnmgmt%>
        
    <div><img alt="open document" src="../images/open_doc_small.png" /> <a href="J Resources Document Center Manual Version 1.pdf" target="_blank">
        &nbsp;Help</a></div>
    </div>
    <%--color:#33ADFF;--%>
      <div id="list_permit" class="general" style="width:1100px; height:450px; left:240px; top:20px; position:absolute; border-color:#fff;">
        <input type="hidden" id="ctrlToFind" />      
        <asp:Label ID="label1" runat="server" ></asp:Label>
        <asp:Label ID="label2" runat="server" ></asp:Label>
        <table class="data-table">
        <caption style="width:300px; text-align:center;">Document Information</caption>
        <tr>
            <td class="general" style="height:10px;">
                File Name
            </td>
            <td>
                <asp:TextBox ID="nmdocx" runat="server" ReadOnly ="false"></asp:TextBox> 
                
                <%--<input style="width:200px;" disabled="disabled" id="nmdoc" runat="server" />--%> <input type="hidden" id="nsite" />
                <asp:HiddenField ID = "temnmdoc" runat = "server" />
                <img alt="add" id="Img4" src="../images/Search.gif" align="absmiddle" style="cursor: pointer" onclick="OpenPopupdel('doc')" /> 
                <asp:HiddenField ID="txturl" runat ="server" /><asp:HiddenField ID = "temnmpath" runat = "server" />
            </td>
            <td>
            <input type="hidden" id="filename" />
            <input type="hidden" id="AttachmentTitleTextbox"/>
                <asp:FileUpload ID="FileUpload1" runat="server" style="visibility:hidden "/>
            </td>
        </tr>
        
        <tr>
            <td class="general" style="height:10px;">
                Type
            </td>
            <td>
                <asp:DropDownList ID="doctp" runat="server" style="width:200px;">
                <asp:ListItem Value="SK">SK</asp:ListItem>
                <asp:ListItem Value="SE">SE</asp:ListItem>
                <asp:ListItem Value="SOP">SOP</asp:ListItem>
                <asp:ListItem Value="WI">Working Instruction</asp:ListItem>
                <asp:ListItem Value="SPP">SPP</asp:ListItem>
                <asp:ListItem Value="IM">Interoffice Memorandum</asp:ListItem>
                <asp:ListItem Value="ITM">Internal Memorandum</asp:ListItem>
                <asp:ListItem Value="SKR">Surat Keluar</asp:ListItem>
                <asp:ListItem Value="DK">Dokumen Kontrak</asp:ListItem>
                </asp:DropDownList>
            </td>
        </tr>
        <tr>
            <td class="general" style="height:10px;">
                Subject
            </td>
            <td>
                <asp:TextBox ID="subject" runat="server" ></asp:TextBox>
            </td>
        </tr>
        
         <tr>
            <td class="general" style="height:10px;">
                Entry Date
            </td>
            <td>
                <asp:TextBox ID="txtyearx" runat = "server" Enabled="false" ></asp:TextBox> 
                <input type="hidden" id="category"/>
                  <input type="hidden" id="Department"/>
                <input type="hidden" id="subdept"/>
            </td>
        </tr>
        <tr>
            <td class="general" style="height:10px;">
                Supplier
            </td>
            <td>
                <asp:TextBox ID="txtvendor" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="general" style="height:10px;">
                Company
            </td>
            <td>
                <asp:DropDownList ID="ddlcomp" runat="server" DataSourceID="SqlDataSource1" 
                    DataTextField="NmCompany" DataValueField="KdCompany" style="width:200px;"></asp:DropDownList> 
                <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
                    ConnectionString="<%$ ConnectionStrings:jrn_permit %>" 
                    SelectCommand="SELECT KdCompany, NmCompany FROM JRN_TEST.dbo.H_A110">
                </asp:SqlDataSource>
                <%--<input type="text" id="comp" runat="server" />--%>
            </td>
        </tr>
        
        <tr>
            <td class="general" style="height:10px;">
                Site
            </td>
            <td>
                <asp:DropDownList ID="ddlsite" runat="server" DataSourceID="SqlDataSource2" 
                    DataTextField="NmSite" DataValueField="KdSite" style="width:200px;"></asp:DropDownList>
                <asp:SqlDataSource ID="SqlDataSource2" runat="server" 
                    ConnectionString="<%$ ConnectionStrings:jrn_permit %>" 
                    SelectCommand="SELECT KdSite, NmSite FROM JRN_TEST.dbo.H_A120 Union SELECT 'ZLAL' kdSite, 'Lalomerui' NmSite FROM JRN_TEST.dbo.H_A120 ">
                </asp:SqlDataSource>
                <%--<input type="text" id="site" runat="server" />--%>
            </td>
        </tr>
       
        <tr>
            <td class="general" style="height:10px;">
                Reminder
            </td>
            <td>
                <input type="hidden" id="report" />
                <asp:DropDownList ID="rem_days" runat="server" style="width:200px;">
                <asp:ListItem Value="7">1 Week Before Expire</asp:ListItem>
                <asp:ListItem Value="14">2 Week Before Expire</asp:ListItem>
                <asp:ListItem Value="30">1 Month Before Expire</asp:ListItem>
                <asp:ListItem Value="60">2 Month Before Expire</asp:ListItem>
                <asp:ListItem Value="90">3 Month Before Expire</asp:ListItem>
                <asp:ListItem Value="180">6 Month Before Expire</asp:ListItem>
                </asp:DropDownList>
            </td>
        </tr>
        <tr>
            <td class="general" style="height:10px;">
                Date Issue
            </td>
            <td>
                <asp:TextBox id="dtissuex" runat="server" style="border:1;"></asp:TextBox>
                <button id="btdtissue">..</button>
            </td>
        </tr>
        
        <tr>
            <td class="general" style="height:10px;">
                Date Expired
            </td>
            <td>
                <asp:TextBox id="dtexp" runat="server" ></asp:TextBox>
                <button id="btdtexp">..</button>
            </td>
        </tr>
        <tr><td colspan = "3" align="left"><table width="300px" class="data-table">
        <caption style="text-align:center">Add Person</caption>
        <tr>
                <td>
                    Name:</td>
                <td style="width: 18px">
                                    
                    <asp:TextBox ID="txtUserName" runat="server" Width="140px"></asp:TextBox></td>
            </tr>
            <tr>
                <td>
                    NIK:</td>
                <td style="width: 18px">
                    <asp:TextBox ID="txtnik" runat="server" Width = "100px" onkeypress="return isNumberKey(event)" ></asp:TextBox>
                    <img alt="add" id="Img1" src="../images/Search.gif" align="absmiddle" style="cursor: pointer" onclick="OpenPopup('suer')" />             
                </td>
            </tr>
            <tr>
                <td>
                    Email Schedule:</td>
                <td style="width: 18px">
                    <asp:DropDownList ID="ddlsch" runat = "server" >
                    <asp:ListItem Value = "01">Daily</asp:ListItem>
                    <asp:ListItem Value = "02">Weekly</asp:ListItem>
                    <asp:ListItem Value = "03">Monthly</asp:ListItem>
                    </asp:DropDownList>    
                </td>                
            </tr>
            
             <tr>
                 <td colspan="2" align="center">
                     <center><asp:Button ID="btnAdd" runat="server" Text="Add User To This Document" /></center>
                 </td>
             </tr>
             <tr><td colspan = "2"><asp:Label ID="lblTips" runat="server" ForeColor="Red"></asp:Label></td></tr>
             <tr>
             <td colspan = "2"><asp:Button ID="btnsave" runat = "server" style="background-image:url('../images/save-icon-small.png'); background-repeat:no-repeat; background-position:center; width:32px; height:32px;"/> 
             <input type="button" id="btncancel" onclick = "window.location = 'index.aspx'" style="background-image:url('../images/cancel.png'); background-repeat:no-repeat; background-position:center; width:32px; height:32px;"/></td>
             
             </tr>
        </table></td></tr> 
        
             <tr>
                 <td>
                    <asp:HiddenField ID="tipe" runat="server" />
                    <select id="type" style="visibility:hidden;">
                    <option value=" "> </option>
                    </select>
                    <asp:HiddenField ID="doctype2" runat="server" />
                    <input type="checkbox" id="rpt" checked="checked" style="visibility:hidden;" runat="server" />
                 </td>
             </tr>
       </table>
       <br />
        
<%--         <input type="hidden" id="jml" value = "1" />
        <table class="data-table-1" cellpadding="0" cellspacing="0" id="tb">
        <caption>Notification</caption>
        <thead><tr><th>Name</th><th>Notification Schedule</th></tr></thead>
        <tbody><tr>
        <td colspan="3">
        <div id="input1" style="margin-bottom:0px; width:100%; position:relative;" class="clonedInput">
        <input type="text" id="txtnama1" name="txtnama1"/><img alt="add" id="Img1" src="../images/Search.gif" align="absmiddle" style="cursor: pointer" onclick="OpenPopup('suer')" />
        
            <select id="optsch1" name="optsch1"><option value="01">Daily</option>
                    <option value="02">Weekly</option>
                    <option value="03">Monthly</option>
        </select> 
        </div> 
        </td>
        
        </tr>
        <tr><td><input type="button" id="btnAdd" value="Add"/> <input type="button" id="btnDel" value="Remove"/></td></tr>
        </tbody>

        </table>--%>
        <%--<script type ="text/javascript" >
            $(document).ready(function() {
                $('#btnAdd').click(function() {

                    var num = $('.clonedInput').length;
                    var newNum = new Number(num + 1);

                    var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);

                    newElem.children(':eq(0)').attr('id', 'txtnama' + newNum).attr('name', 'txtnama' + newNum);
                    newElem.children(':eq(1)').attr('id', 'Img' + newNum).attr('name', 'Img' + newNum).attr(OpenPopup('suer' + newNum));
                    newElem.children(':eq(2)').attr('id', 'optsch' + newNum).attr('name', 'optsch' + newNum);

                    $('#input' + num).after(newElem);
                    $('#btnDel').attr('disabled', '');

                    var d = document;
                    (d.getElementById("jml").value = newNum)

                    if (newNum == 1000)
                        $('#btnAdd').attr('disabled', 'disabled');

                });

                $('#btnDel').click(function() {
                    var num = $('.clonedInput').length;

                    $('#input' + num).remove();
                    $('#btnAdd').attr('disabled', '');

                    var d = document;
                    (d.getElementById("jml").value = d.getElementById("jml").value - 1)

                    if (num - 1 == 1)
                        $('#btnDel').attr('disabled', 'disabled');
                });

                $('#btnDel').attr('disabled', 'disabled');
            });
        </script>--%>
        
        <%--<%=dtmoss %>--%>
        <div style="left:350px; top:0px; position:absolute; width:750px; Height:400px;" >
              <%--<asp:GridView ID="GridView1" runat="server" AllowPaging="True" PageSize="5" 
                Width="100%" Height="80%" CssClass="data-table" AutoGenerateColumns="False" 
                  DataKeyNames = "fname">
            <Columns>
            <asp:CommandField ShowSelectButton="True" SelectText="Select" ButtonType="Link" HeaderStyle-Width="50px" ItemStyle-VerticalAlign="top" >
                <HeaderStyle Width="50px"></HeaderStyle>
                <ItemStyle VerticalAlign="Top"></ItemStyle>
            </asp:CommandField>
                <asp:BoundField DataField="fname" HeaderText="File Name" ItemStyle-Width = "100px" HeaderStyle-Width = "100px" />
                
                <asp:BoundField DataField="path" HeaderText="Path" HeaderStyle-Width = "200px" 
                    ItemStyle-Width = "200px" ItemStyle-Wrap = "true" >
<HeaderStyle Width="200px"></HeaderStyle>

<ItemStyle Width="200px"></ItemStyle>
                </asp:BoundField>
                <asp:TemplateField HeaderText="File Open" HeaderStyle-Width="50px">
                <ItemTemplate>
                    <asp:HyperLink ID="HyperLink1" Text='Open' NavigateUrl='<%# "http://moss.jresources.com" + eval("path") %>' Target="_blank" runat="server"></asp:HyperLink>
                </ItemTemplate>

<HeaderStyle Width="50px"></HeaderStyle>
                </asp:TemplateField> 
            </Columns>
            <SelectedRowStyle Font-Bold="True" />
            <PagerStyle HorizontalAlign="Left" />
            <HeaderStyle Font-Bold="True" Width="100px" />
            <RowStyle Font-Bold="True" Width="100px" Wrap="True" />
        </asp:GridView>--%>
        <asp:GridView ID="GridView2" runat="server" DataKeyNames="Nik" AutoGenerateColumns="False" Width="346px" BackColor="White" BorderColor="#CCCCCC" BorderStyle="None" BorderWidth="1px" CellPadding="3" EmptyDataText="No User Associated to this Document." ForeColor="Red">
            <Columns>
                <asp:BoundField DataField="Name" HeaderText="Name"/>
                <asp:BoundField DataField="Nik" HeaderText="Nik" />
                <asp:BoundField DataField="Schedule" HeaderText="Schedule" />
                <asp:CommandField ShowDeleteButton="true" ButtonType="Link"/>
            </Columns>
            <FooterStyle BackColor="White" ForeColor="#000066" />
            <RowStyle ForeColor="#000066" BorderStyle="Groove" BorderColor="#CCCCCC"/>
            <SelectedRowStyle BackColor="#669999" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="White" ForeColor="#000066" HorizontalAlign="Left" />
            <HeaderStyle BackColor="#0066ff" Font-Bold="false" ForeColor="#282828" />
        </asp:GridView>
        
        </div>
        
      <input type="checkbox" checked="checked" id="chkpic1" disabled = "disabled" style="visibility:hidden;" runat="server" />
                <asp:DropDownList ID="txtpic1" runat="server" Enabled="false" style="visibility:hidden; width:200px;" DataSourceID="DsPIC" 
                    DataTextField="pic_name" DataValueField="pic_email"></asp:DropDownList>
                <asp:SqlDataSource ID="DsPIC" runat="server" 
                    ConnectionString="<%$ ConnectionStrings:jrn_permit %>"
                    SelectCommand="SELECT [pic_name], [pic_email] FROM [docpermit_pic] ORDER BY [pic_name]">
                </asp:SqlDataSource>
                
                <input type="checkbox" id="chkpic2" runat="server" style="visibility:hidden;" />
                <asp:DropDownList ID="txtpic2" runat="server" style="visibility:hidden; width:200px;" DataSourceID="DsPIC" 
                    DataTextField="pic_name" DataValueField="pic_email">
                </asp:DropDownList>
                
                <input type="checkbox" id="chkpic3" runat="server" style="visibility:hidden;" />
                <asp:DropDownList ID="txtpic3" runat="server" style="visibility:hidden; width:200px;" DataSourceID="DsPIC" 
                    DataTextField="pic_name" DataValueField="pic_email">
                </asp:DropDownList>
                
                <input type="checkbox" id="chkpic4" runat="server" style="visibility:hidden;" />
                <asp:DropDownList ID="txtpic4" runat="server" style="visibility:hidden; width:200px;" DataSourceID="DsPIC" 
                    DataTextField="pic_name" DataValueField="pic_email">
                </asp:DropDownList>
                
                <input type="checkbox" id="chkpic5" runat="server" style="visibility:hidden;" />
                <asp:DropDownList ID="txtpic5" runat="server" style="visibility:hidden; width:200px;" DataSourceID="DsPIC" 
                    DataTextField="pic_name" DataValueField="pic_email">
                </asp:DropDownList>
    </div> 
   
        <script type = "text/javascript" >
            var cal = Calendar.setup({
                onSelect: function(cal) { cal.hide() },
                showTime: false
            });
            cal.manageFields("btdtissue", "ctl00_ContentPlaceHolder1_dtissuex", "%m/%d/%Y");
            cal.manageFields("btdtexp", "ctl00_ContentPlaceHolder1_dtexp", "%m/%d/%Y");
        </script>
        <%=msgbox %>
</asp:Content>