﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ssss.aspx.vb" Inherits="EXCELLENT.ssss" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="tes" runat="server" ></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Button" /><br /><br />
        <asp:Label ID="lbltes" runat="server" ></asp:Label> <br /><br />
        <asp:TextBox ID="tes2" runat="server" ></asp:TextBox>
        <asp:Button ID="Button2" runat="server" Text="Button" /><br /><br />
        <asp:Label ID="lbltes2" runat="server" ></asp:Label>
    </div>
    </form>
</body>
</html>
