﻿ul{
list-style-type:none;
margin:0;
padding:0;
}
li{
display:inline;
}

#cssmenu li:hover 
{
	display:inline-block;
	background: #000000;
}
#cssmenu li:hover a 
{
  
  background: #000000;
  text-decoration:underline;
}