﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/site.master" CodeBehind="_Blank.aspx.vb" Inherits="EXCELLENT._Blank" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<br/><br/><br/>
<span>Error .... Please Contact PIC Application.</span>
<br />
<span>Sorry for this inconvenience.</span>
</asp:Content>
