﻿<%@ Page Title="" Language="VB" MasterPageFile="~/site.master" AutoEventWireup="false" Inherits="EXCELLENT.About" Codebehind="About.aspx.vb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <script src="scripts/xtensi.js" type="text/javascript"></script> 
    <style type="text/css">
      ul#navigation li a.m5
        {        	
	        background-color:#00CC00;color: #000000;
        }
       ul.dropdown *.dir5 {
          padding-right: 20px;
          background-position: 100% 50%;
          background-repeat: no-repeat;
          background-color: #FFA500;
         }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <p></p>
    <br />
        
    <div id="divpaging" align="right">
        <a href="#" onclick="prevSlide()"><< Prev</a>
        <span>  </span>
        <a href="#" onclick="nextSlide()">Next >></a>    
    </div>
    
    <center>
    <div id="divabout">
        <center><span id="idjudul" style="font-size: large; color: #0000FF; font-weight: bold; text-decoration: underline;">
        </span></center>
    </div>    
    </center>
    <br />
    <div id="divslide">        
    </div>
    <br />
        
    <script language="javascript" type="text/javascript">
        initSlide();
    </script>
    
</asp:Content>
