﻿<%@ Page Language="vb" AutoEventWireup="false" MasterPageFile="~/site.master" CodeBehind="cuti_transh.aspx.vb" Inherits="EXCELLENT.WebForm1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Register Account - Application MEMO
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
<script src="Scripts/calendar_us.js" type="text/javascript"></script>
<script src="Scripts/jsm01.js" type="text/javascript"></script>
<link rel="stylesheet" href="css/calendar-c.css"/> 
 <%--   <style type="text/css">
      ul#navigation li a.m7
      {
         background-color: #00CC00;
         color: #000000;
      }
      .style1
      {
         width: 137px;
      }
      .style2
      {
         width: 58px;
      }
      .style6
      {
         height: 14px;
      }
      .style7
      {
        width:310px; 
      }
      .style14
      {
            width: 316px;
            height: 14px;
        }
      .style16
      {
         height: 13px;
         width: 10%;
         text-align: left;
      }
      ul.dropdown *.dir4
      {
         padding-right: 20px;
         background-image: url("/memo/css/dropdown/themes/default/images/nav-arrow-down.png");
         background-position: 100% 50%;
         background-repeat: no-repeat;
         background-color: #FFA500;
      }
        </style>--%>

   <script type="text/javascript">
//      function OpenPopup(key) {
//         document.getElementById("ctrlToFind").value = key;
//         window.open("SearchEmployee.aspx", "List", "scrollbars=no,resizable=no,width=500,height=400");
//         return false;
//     }
//     
//     function OpenPopupfield(key) {
//         document.getElementById("ctrlToFind").value = key;
//         window.open("searchfield.aspx", "List", "scrollbars=no,resizable=no,width=500,height=400");
//         return false;
//     }

//      function getaccount(id) {
//         $.ajax({
//            type: "POST",
//            contentType: "application/json; charset=utf-8",
//            url: "WS/UserMgmt.asmx/GetUser",
//            data: "{'_nik':" + JSON.stringify(id) + "}",
//            dataType: "json",
//            success: function(res) {
////               document.getElementById("nik").value = res.d.Nik;
//               document.getElementById("nama").value = res.d.Nama;
//               document.getElementById("kddepar").value = res.d.Departemen;
//               document.getElementById("kdcabang").value = res.d.Jobsite;
//               document.getElementById("password").value = res.d.Password;
//               document.getElementById("jnsgroup").value = res.d.Grup;
//               document.getElementById("jnsdivisi").value = res.d.Divisi;
//               document.getElementById("jnsgrupshe").value = res.d.SheGrup;
//               document.getElementById('jns1').checked = (Left(res.d.UpGrup, 1) == 1) ? true : false;
//               document.getElementById('jns2').checked = (Right(Left(res.d.UpGrup, 2), 1) == 1) ? true : false;
//               document.getElementById('jns3').checked = (Right(Left(res.d.UpGrup, 3), 1) == 1) ? true : false;
//               document.getElementById('jns4').checked = (Right(Left(res.d.UpGrup, 4), 1) == 1) ? true : false;
//               document.getElementById('jns5').checked = (Right(Left(res.d.UpGrup, 5), 1) == 1) ? true : false;
//               document.getElementById('jns6').checked = (Right(res.d.UpGrup, 1) == 1) ? true : false;
//               document.getElementById('add').style.display = 'none';
//               document.getElementById('nik').disabled = 'disable';
//               showLabel();
//               var divisi = '';
//               if (document.getElementById("jnsdivisi").style.display != "none") {
//                  var divisiObj = document.getElementById('jnsdivisi');
//                  var divisiselIndex = divisiObj.selectedIndex;
//                  var divisi = divisiObj.options[divisiselIndex].value;
//               }
//               var selectedSection = res.d.Section
//               $.ajax({
//                  type: "POST",
//                  contentType: "application/json; charset=utf-8",
//                  url: "WS/UserMgmt.asmx/getSection",
//                  data: "{'_funcid':" + JSON.stringify(divisi) + "}",
//                  dataType: "json",
//                  success: function(res) {
//                     if (res.d != null) {
//                        MyFunction = new Array();
//                        MyFunction = res.d;
//                        //removeOption(document.getElementById("jnssection"));
//                        for (var i = 0; i < MyFunction.length; i++) {
//                           //insertOption(document.getElementById("jnssection"), MyFunction[i].Nama, MyFunction[i].Id);
//                        }
//                        document.getElementById("jnssection").value = selectedSection;
//                     } else {
//                        //removeOption(document.getElementById("jnssection"));
//                     }
//                  },
//                  error: function(err) {
//                     document.getElementById("log").innerHTML = "error: " + err.responseText;
//                  }
//               });
//            },
//            error: function(err) {
//               document.getElementById("log").innerHTML = "error: " + err.responseText;
//            }
//         });
//      }

      function save() {
//         flag = 'new';
//         if (document.getElementById('add').style.display == 'none')
//            flag = 'edit';
//         var s = (document.getElementById('jns1').checked == true) ? '1' : '0';
//         s = s + ((document.getElementById('jns2').checked == true) ? '1' : '0');
//         s = s + ((document.getElementById('jns3').checked == true) ? '1' : '0');
//         s = s + ((document.getElementById('jns4').checked == true) ? '1' : '0');
//         s = s + ((document.getElementById('jns5').checked == true) ? '1' : '0');
//         s = s + ((document.getElementById('jns6').checked == true) ? '1' : '0');

//         var divisi = "";
//         var divisiid = "";
//         var sectionid = "";
//         if (document.getElementById("jnsgroup").value == 4 || document.getElementById("jnsgroup").value == 5 || document.getElementById("jnsgroup").value == 7 || document.getElementById("jnsgroup").value == 8 || document.getElementById("jnsgroup").value == 'A') {
//            var divisiObj = document.getElementById('jnsdivisi');
//            var divisiselIndex = divisiObj.selectedIndex;
            //divisi = divisiObj.options[divisiselIndex].innerText;
//            divisi = "";
//            if (document.getElementById("jnsdivisi").style.display == "none") {
//               divisiid = 0
//            } else {
//               divisiid = document.getElementById("jnsdivisi").value;
//            }
//            if (document.getElementById("jnssection").style.display == "none") {
//               sectionid = 0
//            } else {
//               sectionid = document.getElementById("jnssection").value;
//            }
//         }

          $.ajax({
//            window:location = "account.aspx",
            
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "WS/UserMgmt.asmx/Addbagian",
            data: "{'_nama':" + JSON.stringify(document.getElementById("nmbidang").value) + ",'_kdbagian':" + JSON.stringify(document.getElementById("kdbidang").value) + "}",
            dataType: "json",
            success: function(res) {
//               document.getElementById("log").innerHTML = res.d;
               window.location = "account.aspx";
            },
            error: function(err) {
            //               document.getElementById("log").innerHTML = "error: " + err.responseText;
            window.location = "account.aspx";
            }
         });
      }

//      function Left(str, n) {
//         if (n <= 0)
//            return "";
//         else if (n > String(str).length)
//            return str;
//         else
//            return String(str).substring(0, n);
//      }

//      function Right(str, n) {
//         if (n <= 0)
//            return "";
//         else if (n > String(str).length)
//            return str;
//         else {
//            var iLen = String(str).length;
//            return String(str).substring(iLen, iLen - n);
//         }
//      }

//      function showLabel() {
//         if (document.getElementById("jnsgroup").value == 7 || document.getElementById("jnsgroup").value == 'A') { //S.Head dan S.Head Admin
//            document.getElementById("jnsdivisi").style.display = "none";
//            document.getElementById("jnssection").style.display = "inline";
//         } else if (document.getElementById("jnsgroup").value == 4 || document.getElementById("jnsgroup").value == 5 || document.getElementById("jnsgroup").value == 8) {
//            document.getElementById("jnsdivisi").style.display = "inline";
//            document.getElementById("jnssection").style.display = "none";
//         }
//         else {
//            document.getElementById("jnsdivisi").style.display = "none";
//            document.getElementById("jnssection").style.display = "none";
//         }
//      }

//      function removeOption(theSel) {
//         var selIndex = theSel.selectedIndex;
//         if (selIndex != -1) {
//            for (i = theSel.length - 1; i >= 0; i--) {
//               theSel.options[i] = null;
//            }
//            if (theSel.length > 0) {
//               theSel.selectedIndex = selIndex == 0 ? 0 : selIndex - 1;
//            }
//         }
//      }

//      function insertOption(theSel, newText, newValue) {
//         if (theSel.length == 0) {
//            var newOpt1 = new Option(newText, newValue);
//            theSel.options[0] = newOpt1;
//            theSel.selectedIndex = 0;
//         } else if (theSel.selectedIndex != -1) {
//            var selText = new Array();
//            var selValues = new Array();
//            var selIsSel = new Array();
//            var newCount = -1;
//            var newSelected = -1;
//            var i;
//            for (i = 0; i < theSel.length; i++) {
//               newCount++;
//               if (newCount == theSel.selectedIndex) {
//                  selText[newCount] = newText;
//                  selValues[newCount] = newValue;
//                  selIsSel[newCount] = false;
//                  newCount++;
//                  newSelected = newCount;
//               }
//               selText[newCount] = theSel.options[i].text;
//               selValues[newCount] = theSel.options[i].value;
//               selIsSel[newCount] = theSel.options[i].selected;
//            }
//            for (i = 0; i <= newCount; i++) {
//               var newOpt = new Option(selText[i], selValues[i]);
//               theSel.options[i] = newOpt;
//               theSel.options[i].selected = selIsSel[i];
//            }
//         }
//      }



   </script>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <%--    <input type="hidden" id="ctrlToFind" />
   <input type="hidden" id="nik" value="JRN0143" />
  <table cellspacing="2">
      <tr>
         <td style="border-style: solid; border-width: 1px; background-color: #FFFF66">
             <a href="account.aspx">Add User</a>
         </td>
         <td style="border-style: solid; border-width: 1px; background-color: #FFFF66">
            <a href="saccount.aspx">List User</a>
         </td>
      </tr> 
   </table>--%>
   <table width="100%" border="0" cellpadding="0" cellspacing="0" class="data-table">
<%--      <col />
      <col width="100px" />
      <col width="100px" />
      <col />
      <col />
      <col width="80" />
      <col width="*" />--%>
      <caption style="text-align: center; font-size: 1.5em">
          Leave</caption>
      <tr>
         <td style="width:200px;">
             Nomor Bukti
         </td>
         <td style="width:100px;">
            <input style="width:100px;" type="text" id="nmbukti" /><%--<img alt="add" id="add" src="images/Search.gif" align="absmiddle"
             style="cursor: pointer" onclick="OpenPopup('user')" />--%>
         <input style="width:100px;" type="text" id="Text3" /></td><td></td>
      </tr>
      <tr>
         <td>Nik*</td>
         <td colspan ="2">
            <input type="text" id="nik"/><img alt="add" id="Img1" src="images/Search.gif" align="absmiddle"
               style="cursor: pointer" onclick="OpenPopupfield('bidang')" /><input style="width:159px;" type="text" id="nik_1"/>
          </td>
      </tr>
      <tr><td>Departement*</td>
      <td>
            <input type="text" id="department"/>
      </td>
      </tr>
      <tr><td>Position*</td>
      <td>
            <input type="text" id="position"/>
      </td>
      </tr>
      <tr><td>Type Leave*</td>
      <td>
            <input type="text" id="Text1"/><img alt="add" id="Img2" src="images/Search.gif" align="absmiddle"
               style="cursor: pointer" onclick="OpenPopupfield('bidang')" /><input type="text" id="Text2"/>
      </td>
      </tr>
      <tr><td>Date Request*</td>
      <td colspan ="2">
            <asp:TextBox ID="requestdt" runat="Server" width="100px" ReadOnly="true" ></asp:TextBox> 
                  <script type="text/javascript">
                          new tcal({
                              // form name
                              'formname': 'aspnetForm',
                              // input name
                              'controlname': 'ctl00$ContentPlaceHolder1$requestdt'
                          });
                  </script> 
                  Please Re-Calculate date leave changed
      </td>
      </tr>
            <tr><td>Leave From*</td>
            <td colspan = "2">
            <asp:TextBox ID="Leavefromdt" runat="Server" width="100px" ReadOnly="true" ></asp:TextBox>
                  <script type="text/javascript">
                      new tcal({
                          // form name
                          'formname': 'aspnetForm',
                          // input name
                          'controlname': 'ctl00$ContentPlaceHolder1$Leavefromdt'
                      });
                  </script>
            To <asp:TextBox ID="Leavetodt" runat="Server" width="100px" ReadOnly="true" ></asp:TextBox>
                 <script type="text/javascript">
                                  new tcal({
                                      // form name
                                      'formname': 'aspnetForm',
                                      // input name
                                      'controlname': 'ctl00$ContentPlaceHolder1$Leavetodt'
                                  });
                 </script>
            &nbsp;&nbsp;Holiday&nbsp;<input type="text" id="Text6"/> Days
      </td>
      </tr>  
      <tr><td>Remaining Leave</td>
      <td colspan = "2">
            <input type="text" id="Text7"/> Days &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" value="Calculate" onclick="save()" style="width: 80px; font-family: Calibri;" /> 
      &nbsp;Total Leave <input type="text" id="Text8"/>Days
      </td>
      </tr>
      <tr><td>Leave Eligible</td>
      <td colspan = "2">
            <input type="text" id="Text9"/> Days Cut of Absent without Permission <input type="text" id="Text10"/>Days
      </td>
      </tr>  
      <tr><td>Remarks</td>
      <td colspan ="2">
            <asp:TextBox ID="txtAgenda" runat="server" Height="60px" Width="50%" 
             TextMode="MultiLine" class="tb10"></asp:TextBox>
      </td>
      </tr>
      <tr>  
       <td colspan="7">
        <div id="Div1" style="color: red; font: Trebechuet;">During Leave, duties will be act by
        </div> 
       </td></tr>
      <tr>
         <td>Nik*</td>
         <td colspan="2">
            <input type="text" id="Text11"/><img alt="add" id="Img3" src="images/Search.gif" align="absmiddle"
               style="cursor: pointer" onclick="OpenPopupfield('bidang')" /><input type="text" id="Text12"/>
          </td> 
      </tr>
      <tr><td>Position*</td>
      <td>
            <input style="width:310px;" type="text" id="Text13"/>
      </td>
      </tr>
      <tr>  
       <td>
        <div id="Div2" style="color: red; font: Trebechuet;">Veryfied By
        </div>   
       </td>
       <td><div id="Div3" style="color: red; font: Trebechuet; margin-left:170px;">Approved By</div></td>
       </tr>      
        <tr>
         <td>Nik*</td>
         <td colspan="2">
            <input type="text" id="Text14"/><img alt="add" id="Img4" src="images/Search.gif" align="absmiddle"
               style="cursor: pointer" onclick="OpenPopupfield('bidang')" /> 
          Nik*<input type="text" id="Text15"/></td>
      </tr>
       <tr>
         <td>Position*</td>
         <td colspan="2">
            <input type="text" id="Text16"/><img alt="add" id="Img5" src="images/Search.gif" align="absmiddle"
               style="cursor: pointer" onclick="OpenPopupfield('bidang')" /> 
          Position* <input type="text" id="Text17"/></td>
      </tr>
      <tr>
       <td>
        <div id="Div4" style="color: red; font: Trebechuet;">Note :
        </div> 
       </td></tr>
       <tr>
            <td colspan ="3">
        <div id="Div5" style="color: red; font: Trebechuet;">Please Calculate after changing date from & date to and holiday between range date from to leave 
        </div> 
       </td></tr>
       <tr>
              <td colspan ="3">
        <div id="Div6" style="color: red; font: Trebechuet;">before saving data ( especially for Annual Leave)
        </div> 
       </td></tr>
      <!-- Tombol Save-->
      <tr>
         <td colspan="5">
            <input type="button" value="Save" onclick="save()" style="width: 80px; font-family: Calibri;" />
         </td>
         <%--<td colspan="2" style="text-align: right; font-size: 8px""" id="cellReveal">
         </td>--%>
         
      </tr>
      <tr>
         <td colspan="7">
            <div id="log" style="color: red; font: Trebechuet;">
            </div>
         </td>
      </tr>
   </table>
<div style="width:250px;"></div>
   <script language="javascript" type="text/javascript">
//      var doc = document;
////      doc.getElementById("jnsdivisi").style.display = "none";
////      doc.getElementById("jnssection").style.display = "none";

//      function getReveal(arg) {
//         if (arg != '') {
//            doc.getElementById("cellReveal").innerHTML = arg.value;
//         }
//         else {
//            doc.getElementById("cellReveal").innerHTML = '';
//         }
//      }

//      function getSection() {
//         var divisiObj = document.getElementById('jnsdivisi');
//         //var divisiselIndex = divisiObj.selectedIndex;
//         //var divisi = divisiObj.options[divisiselIndex].value;
//         var divisi = "";
//         $.ajax({
//            type: "POST",
//            contentType: "application/json; charset=utf-8",
//            url: "WS/UserMgmt.asmx/getSection",
//            data: "{'_funcid':" + JSON.stringify(divisi) + "}",
//            dataType: "json",
//            success: function(res) {
//               if (res.d != null) {
//                  MyFunction = new Array();
//                  MyFunction = res.d;
//                  //removeOption(document.getElementById("jnssection"));
//                  for (var i = 0; i < MyFunction.length; i++) {
//                     //insertOption(document.getElementById("jnssection"), MyFunction[i].Nama, MyFunction[i].Id);
//                  }
//               } else {
//                  //removeOption(document.getElementById("jnssection"));
//               }
//            },
//            error: function(err) {
//               document.getElementById("log").innerHTML = "error: " + err.responseText;
//            }
//         });
//      }

//      $.ajax({
//         type: "POST",
//         contentType: "application/json; charset=utf-8",
//         url: "WS/UserMgmt.asmx/getFunction",
//         data: "{}",
//         dataType: "json",
//         success: function(res) {
//            MyFunction = new Array();
//            MyFunction = res.d;
//            //removeOption(document.getElementById("jnsdivisi"));
//            for (var i = 0; i < MyFunction.length; i++) {
//               //insertOption(document.getElementById("jnsdivisi"), MyFunction[i].Nama, MyFunction[i].Id);
//            }
//            getSection();
//         },
//         error: function(err) {
//            document.getElementById("log").innerHTML = "error: " + err.responseText;
//         }
//      });

      
   </script>

</asp:Content>
