﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/site.master" CodeBehind="Default.aspx.vb" Inherits="EXCELLENT._Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <br />
    <br />
    <div style="font-family: Verdana; font-size: xx-large; font-weight: bold; color: #3399FF; text-align: center;" >
    
    <br />
    <%--<a href="About.aspx" style="font-family: Verdana; font-size:small;">About us .... </a>--%>
    </div>
    <br />
    <div id="baro" class="graph"></div>
    <div id="baro2" class="graph"></div>
</asp:Content>
