﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="DownloadFile.aspx.vb" Inherits="EXCELLENT.DownloadFile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input type="hidden" id="Id1" runat="server"/>
        <input type="hidden" id="Id2" runat="server"/>
        <input type="hidden" id="Id3" runat="server"/>
        <input type="hidden" id="NoProg" runat="server"/>
        <input type="hidden" id="Nomor" runat="server"/>
    </div>
    
    <asp:LinkButton ID="LinkButton1" runat="server">Download</asp:LinkButton>
    
    </form>       
            
    <script language="javascript" type="text/javascript">

        var wop = window.opener;
        var wincaller = wop.document.forms['form1'];

        var Nomor = wincaller.elements['Nomor'].value;
        var NoProg = wincaller.elements['NoProg'].value;
        var IdRap = wincaller.elements['Id1'].value;
        var IdIssue = wincaller.elements['Id2'].value;
        var NoAction = wincaller.elements['Id3'].value;

        document.getElementById('Nomor').value = Nomor;
        document.getElementById('NoProg').value = NoProg;
        document.getElementById('Id1').value = IdRap;
        document.getElementById('Id2').value = IdIssue;
        document.getElementById('Id3').value = NoAction;  
    </script>    
</body>
</html>
