.dw1_band_0{background-color:transparent;}
.dw1_band_0{position:absolute;left:0.000in;top:0.000in;width:100%;height:1.031in;}
.dw1_t_14{background-color:transparent;overflow:hidden;color:#000000;font-size:7pt;font-family:Tahoma, sans-serif;font-style:normal;font-weight:normal;text-decoration:none;text-align:right;word-break:break-all;border-style:none;}
.dw1_t_14{position:absolute;left:5.969in;top:0.031in;width:1.698in;height:0.115in;}
.dw1_hr1{background-color:transparent;color:#000000;}
.dw1_hr1{position:absolute;left:0.031in;top:0.198in;width:7.688in;height:0.020in;}
.dw1_t_1{background-color:transparent;overflow:hidden;color:#000000;font-size:16pt;font-family:Arial, sans-serif;font-style:normal;font-weight:bold;text-decoration:underline;text-align:center;word-break:break-all;border-style:none;}
.dw1_t_1{position:absolute;left:3.323in;top:0.406in;width:4.354in;height:0.260in;}
.dw1_t_18{background-color:transparent;overflow:hidden;color:#000000;font-size:10pt;font-family:Arial, sans-serif;font-style:normal;font-weight:bold;text-decoration:underline;text-align:center;word-break:break-all;border-style:none;}
.dw1_t_18{position:absolute;left:3.385in;top:0.687in;width:4.291in;height:0.167in;}
