﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/site.master" CodeBehind="Logout.aspx.vb" Inherits="EXCELLENT.Logout" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server"><p></p>  
    <div>          
          <center>
          <table>
            <tr>
                <td align="left">
                    <asp:Label ID="lblSalam" runat="server" Text="Welcome" 
                        Font-Size="X-Large"></asp:Label>
                </td>
            </tr>
        </table>
        </center>
    </div>
    <p></p>    
</asp:Content>
