﻿table.Headertabel caption{
	background:#b6b6b6;
	padding:10px;
	text-align:center;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	border:1px dotted #7a7a7a;
	border-bottom:none;
	}
	
#BtnNew:hover, #BtnSave:hover, #BtnCancel:hover, #BtnDelete:hover
{
	background-color: #9966FF;
	color: #FFFF00;
}
#divdetil
{
	border: thin solid #669999;
	position: relative;
	height: 60px;
	overflow: scroll;
	width: 700px;
}

#divtes
{
	border: thin solid #669999;
	position: relative;
	height: 60px;
	overflow: scroll;
	width: 700px;
}

#tabledetail
{
	width:730px;
	border-collapse:collapse;
}
#tabledetail2
{
	width:730px;
	border-collapse:collapse;
}
#FreeTB
{
	height:30px;
}
.accordionLink
{
}

.Headertabel
{
	background-color:Gray;
	font-size:larger;
}

.style1
{
}
.style4
{
    width: 29px;
}
.style5
{
    width: 66px;
	text-align: center;
}
.style6
{
    width: 322px;
}
.style7
{
}
.style8
{
width: 58px;
}
.style9
{
width: 54px;
}
#Text3
{
    width: 355px;
	height: 22px;
}
.style10
{
    width: 315px;
}
#tablepesaerta
{
    width: 91%;
}
.style14
{
    width: 156px;
}
#Text1
{
    width: 138px;
}
#Text4
{
    width: 138px;
}
#Text2
{
    width: 138px;
}
#Text5
{
    width: 138px;
}
.style16
{
    width: 70px;
}
.style17
{
    width: 57px;
}
.style18
{
    width: 98px;
}
.style19
{
    width: 543px;
}
.style20
{
    width: 157px;
}
.style21
{
    width: 71px;
}
.style22
{
    width: 243px;
}
#td36
{
    text-align: left;
}
#td33
{
    text-align: left;
}
#td30
{
    text-align: left;
}
#Select1
{
    width: 130px;
    margin-left: 0px;
}
#Select2
{
    width: 130px;
}
#Select3
{
    width: 130px;
}
#Select4
{
    width: 130px;
}
#Select5
{
    width: 130px;
}
#Select6
{
    width: 130px;
}
#Text9
{
    width: 324px;
}
#Text10
{
    width: 324px;
}
#Text11
{
    width: 324px;
}
#Text12
{
    height: 21px;
    width: 64px;
}
#Text13
{
    height: 21px;
    width: 65px;
}
#Text14
{
    height: 21px;
    width: 59px;
}
#Text15
{
    height: 21px;
    width: 222px;
}
#Text16
{
    height: 21px;
    width: 222px;
}
#Text17
{
    height: 21px;
    width: 222px;
}
#Text18
{
    height: 21px;
    width: 190px;
}
#Text19
{
    height: 21px;
    width: 190px;
}
#Text20
{
    height: 21px;
    width: 190px;
}
#Text21
{
    height: 21px;
    width: 75px;
}
#Text22
{
    height: 21px;
    width: 82px;
}
#Text23
{
    height: 21px;
    width: 76px;
}
#Text24
{
    height: 21px;
    width: 71px;
}
#Text25
{
    height: 21px;
    width: 67px;
}
#Text26
{
    height: 21px;
    width: 67px;
}
.style27
{
    width: 202px;
}
.style30
{
    width: 83px;
}
.style31
{
    width: 81px;
}
#Checkbox1
{
    height: 16px;
    width: 24px;
}
#Text13
{
    height: 21px;
    width: 64px;
}
#Text14
{
    height: 21px;
    width: 64px;
}
#Text15
{
    height: 21px;
    width: 64px;
}
#Text16
{
    height: 21px;
    width: 64px;
}
#Text17
{
    height: 21px;
    width: 64px;
}
#Text18
{
    height: 21px;
    width: 64px;
}
#Text19
{
    height: 21px;
    width: 64px;
}
#Text20
{
    height: 21px;
    width: 64px;
}
#Text21
{
    height: 21px;
    width: 64px;
}
#Text22
{
    height: 21px;
    width: 64px;
}
#Text23
{
    height: 21px;
    width: 64px;
}
#Text24
{
    height: 21px;
    width: 64px;
}
#Text25
{
    height: 21px;
    width: 64px;
}
#Text26
{
    height: 21px;
    width: 64px;
}
#Text26
{
    height: 21px;
    width: 71px;
}
#Text26
{
    height: 21px;
    width: 64px;
}
#Text27
{
    height: 21px;
    width: 71px;
}
#Text27
{
    height: 21px;
    width: 64px;
}
#Text28
{
    height: 21px;
    width: 71px;
}
#Text28
{
    height: 21px;
    width: 64px;
}
#Text29
{
    height: 21px;
    width: 71px;
}
#Text29
{
    height: 21px;
    width: 64px;
}
#Text30
{
    height: 21px;
    width: 71px;
}
#Text30
{
    height: 21px;
    width: 64px;
}
#Text31
{
    height: 21px;
    width: 71px;
}
#Text31
{
    height: 21px;
    width: 64px;
}
#Text32
{
    height: 21px;
    width: 71px;
}
#Text32
{
    height: 21px;
    width: 64px;
}
#Text33
{
    height: 21px;
    width: 71px;
}
#Text33
{
    height: 21px;
    width: 64px;
}
#Text34
{
    height: 21px;
    width: 71px;
}
#Text34
{
    height: 21px;
    width: 64px;
}
#Text35
{
    height: 21px;
    width: 71px;
}
#Text35
{
    height: 21px;
    width: 64px;
}

.kolom1
{
	width: 100px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-color: #909090;
	border-right-color: #909090;
}
.kolom2
{
	width:500px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-color: #909090;
	border-right-color: #909090;
}
.kolom3
{
	width:150px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-color: #909090;
	border-right-color: #909090;
}
.kolom4
{
	width:150px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-color: #909090;
	border-right-color: #909090;
}
.kolom1:hover, .kolom2:hover, .kolom3:hover, .kolom4:hover
{
	background-color: #00FF00;
}