﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/site.master" CodeBehind="SendPassword.aspx.vb" Inherits="EXCELLENT.SendPassword" %>
<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table style="width: 100%;" class="data-table">
        <tr>
            <td>
                <caption>
                    FORM SEND PASSWORD
                </caption>
            </td>
        </tr>
    </table>
    
    <table style="width:50%;">
        <tr>
            <td colspan="4" style="font-size: small">
                Please Input your Email. Example : name@jresources.com
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                <asp:TextBox ID="TextBox1" runat="server" Width="95%"></asp:TextBox>
            </td>
            <td style="font-size: small">
                @jresources.com</td>
            <td style="text-align: left" class="style5">
                <asp:Button ID="BtnSend" runat="server" style="text-align: center" Text="Send" 
                    Width="80px"/>
            </td>
        </tr>
    </table>
    <p></p>
</asp:Content>
