﻿body
{
	background: #dddddd;
}
#formmain
{
	margin-left: 50px;
	position: fixed;
	left: 60px;
	width: 10%;
	top: 10px;
}
#topContent
{
	text-align: right;
    background-color: #600;
    color: White;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
	border-style: solid; border-width: 1px;
	
	width: 975px;
	position:absolute;
	height: 37px;
	top: 10px;
	margin-left: 50px;
	left: 60px;
}
#topContent a 
{
	color: #FFFF00;
}
#leftContent 
{
	text-align: left;
	padding:10px;
	border-style: solid; border-width: 1px;
	
	width: 168px;
	position:absolute;
	height: 400px;
	top: 70px;
	margin-left: 51px;
	left: 60px;
}
#mainContent
{
	
	border-style: solid; border-width: 1px;
	padding:10px;
	overflow:scroll;
			
	width: 783px;
	height: 700px;
	position:absolute;
	top: 70px;
	margin-left: 240px;
	left: 60px;
}
#bottomContent
{
	background: #666666;
	height: auto;
	width: 123px;
	position: absolute;
	top: 500px;
	margin-left: 80px;
	left: 60px;
	visibility: hidden;
}
#lo:hover
{
	color:#ff0000;
}
a:hover 
{	
	color:#0000ff;
} 
.tombol:hover
{
	background-color:Blue;
	color:Yellow;
}