﻿        .newStyle1
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-small;
            margin-right: 0px;
        }
         .modalBackground
        {
            background-color: Maroon ;
            font: small Arial, Helvetica, sans-serif;
        }
        .groupheader  
        {
            background: white; 
            color: red;
             padding: 0px; 
             font-weight: bold;
             
             margin:0;
             min-height:100%;
             
             }    

        .style1
        {            
            font: small Arial, Helvetica, sans-serif;
        }
          td.style5
        {
          background-color:#00CC00;
          color:#000000;
          font-weight:bold;
          font-size:medium;
        }
        .style6
        {
            width: 69px;
        }
        .style7
        {
            width: 39px;
        }
        .style8
        {
            width: 81px;
        }
        .style9
        {
            width: 42px;
        }
        .style10
        {
            width: 52px;
        }
        .style11
        {
            width: 47px;
        }
        table.bsc {
	      border-width: 1px;
	      border-spacing: 0px;
	      border-color: #C0C0C0;
	      border-collapse: collapse;
	      background-color: white;
         }
      table.bsc thead {
	      border-width: 1px;
	      padding: 1px;	      
	      border-color: #C0C0C0;
      }
      table.bsc td {
	      border-width: 1px;
	      padding: 1px;	      
	      border-color: #C0C0C0;
      }
      .headbsctable{
         font-size:12px;
         background-color:#449A50;
         color:white;
         font-weight:bold;
      }
       select{
         border: 1px solid #C0C0C0;
      }  
      .printe:hover
      {
         background-color:#FFFFA8;         
      }
      .printe
      {
         border: 1px solid #C0C0C0;
         width:99%;
      }
      .printsap
      {
         border: 1px solid #C0C0C0;
         width:70%;
      }
      