﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="tes.aspx.vb" Inherits="EXCELLENT.tes" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <asp:TextBox ID="TextBox1" runat="server" TextMode="MultiLine" Height="499px" 
            Width="859px"></asp:TextBox>
    </div>
    </form>
</body>
</html>
