@charset "UTF-8";

/** 
 * Default Ultimate Linear CSS Drop-Down Menu Theme
 *
 * @file		default.ultimate.css
 * @name		Default
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 */

@import "default.css";


/*-------------------------------------------------/
 * @section		Base Style Extension
 */

ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 7px 15px;
 font-size:12px;
}



/*-------------------------------------------------/
 * @section		Base Style Override
 */

ul.dropdown li {
 padding:0px;
}

ul.dropdown ul a,
ul.dropdown ul span {
 padding: 4px;
}



/*-------------------------------------------------/
 * @section		Base Style Reinitiate: post-override activities
 */





/*-------------------------------------------------/
 *	@section	Custom Styles
 */

ul.dropdown li {
   background-color:white;
}

ul.dropdown li.hover, ul.dropdown li:hover
{
    color: #000;
    background-color: #CC9900;
}

ul.dropdown li a:active {

}


/* Non-first level */

ul.dropdown ul {
 margin-top: 0;
}

	ul.dropdown ul li {
	}

	ul.dropdown ul li.hover,
	ul.dropdown ul li:hover {
	}



/* Mixed */

ul.dropdown li a,
ul.dropdown *.dir {
 border-style: solid;
 border-width: 1px 1px 1px 1px;
 border-color: #fff #C0C0C0 #C0C0C0 #C0C0C0;
}

ul.dropdown li{
 border-style: solid;
 border-width: 1px 0 0 0;
 border-color: #C0C0C0;
}




/*-------------------------------------------------/
 * @section		Support Class `open` Usage
 * @source		js, artificial
 *
 */

ul.dropdown li.hover *.open
{
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #C0C0C0 #C0C0C0 #C0C0C0;
    background-color: #CC9900;
    color: #000;
}

ul.dropdown ul li.hover *.open, ul.dropdown-vertical li.hover *.open
{
    padding-left: 15px;
    border-top-color: #000;
    border-left: solid 1px #CC9900;
    border-left-color: #C0C0C0;
}

ul.dropdown-vertical-rtl li.hover *.open
{
    padding-right: 15px;
    border-right-color: #C0C0C0;
    border-left: none;
    border-left-color: inherit;
}

ul.dropdown-upward li.hover *.open
{
    border-top-color: #000;
    border-bottom-color: #C0C0C0;
}

ul.dropdown-upward ul li.hover *.open {
 border-bottom-color: #C0C0C0;
}


	/* CSS2 clone */

	ul.dropdown li:hover > *.dir, ul.dropdown li:hover > *.dir1, ul.dropdown li:hover > *.dir2, ul.dropdown li:hover > *.dir3, ul.dropdown li:hover > *.dir4
{
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #CC9900 #C0C0C0 #C0C0C0 #C0C0C0;
    background-color: #CC9900;
    color: #000;
}

	ul.dropdown ul li:hover > *.dir, ul.dropdown-vertical li:hover > *.dir
{
    padding-left: 15px;
    border-top-color: #000;
    border-left: solid 1px #CC9900;
    border-left-color: #CC9900;
}

	ul.dropdown-vertical-rtl li:hover > *.dir
{
    padding-right: 15px;
    border-right-color: #CC9900;
    border-left: none;
    border-left-color: inherit;
}

	ul.dropdown-upward li:hover > *.dir
{
    border-top-color: #000;
    border-bottom-color: #CC9900;
}

	ul.dropdown-upward ul li:hover > *.dir {
	 border-bottom-color: #C0C0C0;
	}